@import url("https://fonts.googleapis.com/css?family=Poppins:700,400|Lily+Script+One:400");

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.kenzo-21 {
  align-items: flex-start;
  background-color: var(--neutrallight);
  border: 1px none;
  display: flex;
  height: 3139px;
  overflow: hidden;
  padding: 43.8px 0;
  width: 1920px;
}

.overlap-group6 {
  height: 2984px;
  margin-top: 67.39px;
  position: relative;
  width: 1920px;
}

.vector-4 {
  height: 45px;
  left: 1216px;
  position: absolute;
  top: 2070px;
  width: 36px;
}

.group-49 {
  display: flex;
  gap: 49px;
  height: 40px;
  left: 252px;
  position: absolute;
  top: 1927px;
  width: 261px;
}

.ir-1 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 12px;
  width: 11px;
}

.supermercados-santos {
  height: 40px;
  letter-spacing: 0;
  line-height: normal;
  width: 197px;
}

.vector-3 {
  height: 49px;
  left: 1277px;
  position: absolute;
  top: 2180px;
  width: 36px;
}

.group-48 {
  display: flex;
  gap: 35px;
  height: 40px;
  left: 267px;
  position: absolute;
  top: 1878px;
  width: 246px;
}

.ir {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 12px;
  width: 11px;
}

.fogo-atacadista-av {
  height: 40px;
  letter-spacing: 0;
  line-height: normal;
  width: 196px;
}

.place-2 {
  left: 1171px;
  top: 2033px;
}

.kenzo-21 .place-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.polygon-1 {
  height: 24px;
  left: 493px;
  position: absolute;
  top: 1833px;
  width: 33px;
}

.ftima-do-sul-1 {
  left: 1208px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2132px;
}

.rectangle-39 {
  background: radial-gradient(50% 50% at 50% 50%, 
rgba(255, 255, 255, 0.99) 0%, 
rgb(255, 255, 255) 100%);
  height: 1920px;
  left: 873px;
  position: absolute;
  top: 145px;
  transform: rotate(90deg);
  width: 173px;
}

.vector-6 {
  height: 45px;
  left: 1296px;
  position: absolute;
  top: 1986px;
  width: 36px;
}

.place-3 {
  left: 1214px;
  top: 1942px;
}

.vector-5 {
  height: 45px;
  left: 1353px;
  position: absolute;
  top: 2390px;
  width: 36px;
}

.navira-2 {
  left: 1324px;
  top: 2342px;
}

.kenzo-21 .navira-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.mapa {
  height: 2984px;
  left: 224px;
  position: absolute;
  top: 0;
  width: 1696px;
}

.title {
  color: var(--primary--a700);
  font-family: var(--font-family-lily_script_one);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 716px;
  letter-spacing: 0;
  line-height: 62.1px;
  position: absolute;
  text-align: center;
  top: 1092px;
  white-space: nowrap;
  width: 487px;
}

.overlap-group5 {
  border-radius: 11.87px;
  height: 827px;
  left: 200px;
  position: absolute;
  top: 1727px;
  width: 343px;
}

.rectangle-32 {
  background-color: var(--primary--a700);
  border: 0.66px solid;
  border-radius: 11.87px 11.87px 0px 0px;
  height: 66px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 340px;
}

.menos {
  -webkit-text-stroke: 0.35px var(--primary--a700);
  left: 281px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 276px;
}

.rectangle-31 {
  border: 3.96px solid;
  border-color: var(--primary--a700);
  border-radius: 11.87px;
  height: 827px;
  left: 0;
  position: absolute;
  top: 0;
  width: 343px;
}

.solarmap-point-bold {
  border: 0.66px solid;
  border-color: var(--primary--a700);
  height: 16px;
  left: 169px;
  position: absolute;
  top: 115px;
  width: 16px;
}

.overlap-group2 {
  height: 88px;
  left: 3px;
  position: absolute;
  top: 418px;
  width: 336px;
}

.rectangle-33 {
  background-color: var(--pixie-green);
  border: 0.66px solid;
  border-color: var(--primary--a700);
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.mostrar {
  -webkit-text-stroke: 0.35px var(--primary--a700);
  left: 272px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66px;
}

.vector {
  height: 42px;
  left: 18px;
  position: absolute;
  top: 16px;
  width: 34px;
}

.place {
  -webkit-text-stroke: 0.66px var(--primary--a700);
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.rectangle-34 {
  background-color: var(--primary--a700);
  border: 0.66px solid;
  border-radius: 0px 0px 0px 6.6px;
  height: 22px;
  left: 269px;
  position: absolute;
  top: 66px;
  width: 67px;
}

.overlap-group4 {
  height: 88px;
  left: 3px;
  position: absolute;
  top: 623px;
  width: 336px;
}

.navira-1 {
  -webkit-text-stroke: 0.66px var(--primary--a700);
  left: 63px;
  top: 13px;
}

.overlap-group3 {
  height: 88px;
  left: 3px;
  position: absolute;
  top: 520px;
  width: 336px;
}

.frame-46 {
  align-items: flex-start;
  background-color: var(--pixie-green);
  border: 0.66px solid;
  border-color: var(--primary--a700);
  display: flex;
  flex-direction: column;
  gap: 6.6px;
  height: 66px;
  left: 0;
  padding: 11.87px 0px 11.87px 17.81px;
  position: absolute;
  top: 0;
  width: 336px;
}

.group-45 {
  height: 42.05px;
  min-width: 183.17px;
  position: relative;
}

.place-1 {
  left: 46px;
  top: 1px;
}

.vector-2 {
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.mato-grosso-do-sul {
  -webkit-text-stroke: 0.45px var(--primary--a700);
  color: var(--neutrallight);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.overlap-group1 {
  height: 88px;
  left: 3px;
  position: absolute;
  top: 316px;
  width: 336px;
}

.ftima-do-sul {
  -webkit-text-stroke: 0.66px var(--primary--a700);
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.group-40 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 130px;
  left: 3px;
  min-height: 217px;
  position: absolute;
  top: 80px;
  width: 338px;
}

.rectangle-34-1 {
  background-color: var(--primary--a700);
  border: 0.66px solid;
  border-radius: 0px 0px 0px 6.6px;
  height: 22px;
  margin-right: 2px;
  width: 67px;
}

.overlap-group {
  align-items: center;
  background-color: var(--pixie-green);
  border: 0.66px solid;
  border-color: var(--primary--a700);
  display: flex;
  gap: 12px;
  height: 66px;
  margin-right: 2px;
  min-width: 336px;
  padding: 9.3px 17.1px;
}

.vector-1 {
  align-self: flex-end;
  height: 42px;
  width: 34px;
}

.navira {
  -webkit-text-stroke: 0.66px var(--primary--a700);
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.3px;
  min-height: 40px;
  min-width: 102px;
}

.rectangle-35 {
  height: 130px;
  left: 3px;
  position: absolute;
  top: 146px;
  width: 337px;
}