:root {
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 12px;
    --spacing-m: 16px;
    --spacing-l: 20px;
    --spacing-xl: 24px;
    --spacing-xxl: 28px;
    --spacing-xxl-2: 32px;
    --spacing-xxl-3: 36px;
    --spacing-xxl-4: 40px;
    --spacing-xxl-5: 44px;
    --spacing-xxl-6: 48px;
    --spacing-xxl-7: 52px;
    --spacing-xxl-8: 56px;
    --spacing-xxl-9: 60px;
    --spacing-xxl-10: 64px;
    --spacing-xxl-11: 68px;
    --spacing-xxl-12: 72px;
    --spacing-xxl-13: 76px;
    --spacing-xxl-14: 80px;
    --spacing-xxl-15: 84px;
    --spacing-xxl-16: 88px;
    --spacing-xxl-17: 92px;
    --spacing-xxl-18: 96px;
    --spacing-xxl-19: 100px;
    --spacing-xxl-20: 104px;
    --spacing-xxl-21: 108px;
    --spacing-xxl-22: 112px;
    --spacing-xxl-23: 116px;
    --spacing-xxl-24: 120px;
    --spacing-xxl-25: 124px;
    --spacing-xxl-26: 128px;
    --spacing-xxl-27: 132px;
    --spacing-xxl-28: 136px;
    --spacing-xxl-29: 140px;
    --spacing-xxl-30: 144px;
    --spacing-xxl-31: 148px;
    --spacing-xxl-32: 152px;
    --spacing-xxl-33: 156px;
    --spacing-xxl-34: 160px;
    --spacing-xxl-35: 164px;
    --spacing-xxl-36: 168px;
    --spacing-xxl-37: 172px;
    --spacing-xxl-38: 176px;
    --spacing-xxl-39: 180px;
    --spacing-xxl-40: 184px;
    --spacing-xxl-41: 188px;
    --spacing-xxl-42: 192px;
    --spacing-xxl-43: 196px;
    --spacing-xxl-44: 200px;
    --spacing-xxl-45: 204px;
    --spacing-xxl-46: 208px;
    --spacing-xxl-47: 212px;
    --spacing-xxl-48: 216px;
    --spacing-xxl-49: 220px;
    --spacing-xxl-50: 224px;
  }