:root {
  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.6rem;
  --spacing-5: 2rem;
  --spacing-6: 2.4rem;
  --spacing-7: 2.8rem;
  --spacing-8: 3.2rem;
  --spacing-9: 3.6rem;
  --spacing-10: 4rem;
  --spacing-11: 4.4rem;
  --spacing-12: 4.8rem;
  --spacing-13: 5.2rem;
  --spacing-14: 5.6rem;
  --spacing-15: 6.0rem;
  --spacing-16: 6.4rem;
  --spacing-17: 6.8rem;
  --spacing-18: 7.2rem;
  --spacing-19: 7.6rem;
  --spacing-20: 8.0rem;
  --spacing-21: 8.4rem;
  --spacing-22: 8.8rem;
  --spacing-23: 9.2rem;
  --spacing-24: 9.6rem;
  --spacing-25: 10.0rem;
  --spacing-26: 10.4rem;
  --spacing-27: 10.8rem;
  --spacing-28: 11.2rem;
  --spacing-29: 11.6rem;
  --spacing-30: 12.0rem;
  --spacing-31: 12.4rem;
  --spacing-32: 12.8rem;
  --spacing-33: 13.2rem;
  --spacing-34: 13.6rem;
  --spacing-35: 14.0rem;
}