<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ComponenteRodape.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>HiperCaseiro</title>
</head>

<body>
    <footer>
       <img src="IMG_RODAPE.png">
            <div class="rodape__informaçoes">
                <div class="rodape__info"class="Text-PoppinsLg1Regular">
                    <p class="rodape__titulo">Endereço</p>
                    <p class="rodape__texto">Avenida Narciso Ferreira, nº498, Naviraí-MS</p>
                    <div class="rodape__barra"></div>
                </div>

                <div class="rodape__info">
                    <p class="rodape__titulo"class="Text-PoppinsLg1Regular">Funcionamento</p>
                    <p class="rodape__texto">08:30  às 18:00 seg à sab</p>
                    <p class="rodape__texto"> </p>
                    <div class="rodape__barra"></div>
                </div>
                <div class="rodape__info">
                    <p class="rodape__titulo"class="Text-PoppinsLg1Regular">Contatos</p>
                    <P class="rodape__texto">(67)91834-5876 hiperpaes@gmail.com</P>
                    <div class="rodape__barra"></div>
                </div>
                
                <div class="rodape__info">
                    <p class="rodape__titulo"class="Text-PoppinsLg1Regular">Redes Sociais</p>
                    <img class="rodape__img"src="Zap.png">
                    <div class="rodape__barra"></div>
                </div>
            </div>
            <div class="linha">
                Copyright © 2023 Produtos Hiper Caseiro | Desenvolvido em colaboração IFMS/UFMS - 
                <a class="rodape__creditos" href="./Creditos.html"> Creditos</a>
            </div>
    </footer>
</body>

</html>