<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ComponenteProdutosHomePage.css">
    <title>Document</title>
</head>
<body>
  <section class="section-product">
    <h1 class="product-h1">Produtos</h1>
        <div class="product-container">
          <div class="product-cima">

            <div class="product">
            <a href="./ProdutoPForma.html">
              <div class="product-image">
                <img src="../../img/IMG_9037.jpg" alt="Produto 1">
              </div>
              <div class="product-flex">
              <div class="product-info">
                <h3>Pão de forma</h3>
                
                <button>Saiba mais</button>
              </div>
              </div>
            </a>
            </div>

            <div class="product">
              <a href="./ProdutoCVermelho.html">
                <div class="product-image">
                   <img src="../../img/IMG_9028.jpg" alt="Produto 2">
                </div>
                <div class="product-info">
                  
                  <h3>Pão Caseiro Médio</h3>
                  
                  <button>Saiba mais</button>
                </div>
              </a>
            </div>

              <div class="product">
              <a href="./ProdutoCAzul.html">
                <div class="product-image">
                   <img src="../../img/IMG_9030.jpg" alt="Produto 2">
                </div>
                <div class="product-info">
                  <h3>Pão de Leite</h3>
                  
                  <button>Saiba mais</button>
                </div>
              </a>
              </div>

              <div class="product">
                <a href="./ProdutoPIntegral.html">
                <div class="product-image">
                   <img src="../../img/IMG_9039.jpg" alt="Produto 2">
                </div>
                <div class="product-info">
                  <h3>Pão Integral</h3>
                  
                  <button>Saiba mais</button>
                </div>
              </div>
            </a>
            </div>
            <div class="product-baixo">

              <div class="product">
              <a href="./ProdutoPHDog.html">
                <div class="product-image">
                   <img src="../../img/IMG_9041.jpg" alt="Produto 2">
                </div>
                <div class="product-info">
                  <h3>Pão de Hot-Dog</h3>
                  
                  <button>Saiba mais</button>
                </div>
              </a>
              </div>

              <div class="product">
              <a href="./ProdutoCVerde.html"> 
                <div class="product-image">
                   <img src="../../img/IMG_9026.jpg" alt="Produto 2">
                </div>
                <div class="product-info">
                  <h3>Pão Caseiro Grande</h3>
                  
                  <button>Saiba mais</button>
                </div>
              </a>
              </div>

              <div class="product">
              <a href="./ProdutoPHamburguer.html">
                <div class="product-image">
                   <img src="../../img/IMG_9048.jpg" alt="Produto 2">
                </div>
                <div class="product-info">
                  <h3>Pão de Hamburguer</h3>
                  
                  <button>Saiba mais</button>
                </div>
              </a>
              </div>
            </div>
          </div>
        </section>
</body>
</html>