<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobrenos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>HiperCaseiro</title>
</head>

<body>

    <section class="sobrenos">
        <h1 class="tabela__titulo">Sobre a Híper</h1>
        <div class="sobrenos__div">

            <div class="sobrenos__esquerda">
                <img class="sobrenos__foto" src="IMG_9026.jpg">
                <div class="sobrenos__transiçao"></div>
            </div>
            <div class="sobrenos__texto"><p>A história da empresa Hiper Pães começa no ano de 2003 o sócio e proprietário Sr Noel Felipe,  juntamente com sua esposa e sócia proprietária a Sra. Maria Felipe, após uma viagem ao interior do Mato Grosso resolveram por em prática uma idéia que lhes foram dada na ocasião fazer pães. 
                A primeira remessa de pães foi vendida em pouco mais de 02 horas.
                Em Naviraí, iniciaram sua produção com 40 pães que foram distribuídos nos mercados da cidade vendendo toda a produção. 
                Hoje a empresa Hiper Pães tem uma média de produção de 2000 a 2500 pães por dia conta com mais de 16 funcionários, possuem prédio próprio com maquinários modernos, a entrega final dos produtos são todas feitas  com veículos próprios da empresa e possuem uma distribuidora em Dourados, atendendo grande parte do estado do Mato Grosso do Sul e pensando em expandir ainda mais.
            </p></div>
        </div>
        <h1 class="tabela__titulo">Não basta ser caseiro, tem que ser Hiper!</h1>
    </section>
</body>

</html>