<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1000; user-scalable=0;" /> <!--IMPORTANTISSIMO!!!!!!-->
    <link rel="stylesheet" href="ComponenteTabelaNutricionalProduto.css">
    <title>Document</title>
</head>

<body>
    <main class="tabela flex">

        <h1 class="tabela__titulo">Tabela Nutricional</h1>
        <div class="tabela__container flex">
            <div class="tabela__nutriente flex">
                <div class="tabela__grupo-colunas-titulo flex">
                    <p class="tabela__grupo-item flex">Nutriente</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">Valor Energético</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">Carboidratos</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">Proteínas</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">Gorduras Totais</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">Gorduras Saturadas</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">Gorduras Trans</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">Fibra Alimentar</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">Sódio</p>
                </div>

            </div>
            <div class="tabela__quantidade flex">
                <div class="tabela__grupo-colunas-titulo flex">
                    <p class="tabela__grupo-item flex">Quantidade por Porção</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">A kcal</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">23 g</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">2,3 g</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">1,7 g</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">0,6 g</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">0 g</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">0,5 g</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">253 mg</p>
                </div>

            </div>
            <div class="tabela__valor-diario flex">
                <div class="tabela__grupo-colunas-titulo flex">
                    <p class="tabela__grupo-item flex">%VD*</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">6%</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">8%</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">3%</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">3%</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">3%</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">--</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">2%</p>
                </div>
                <div class="tabela__grupo-colunas flex">
                    <p class="tabela__grupo-item flex">11%</p>
                </div>

            </div>
        </div>
    </main>
</body>

</html>